@page
@model miWeb.App.Frontend.Pages.DetailsModel
@{
}

<h1> @Model.Saludo.EnEspañol</h1>
<h1> @Model.Saludo.EnItaliano</h1>
<h1> @Model.Saludo.EnIngles</h1>
<h1> @Model.Saludo.Id</h1>
<a class="nav-link text-dark" asp-area="" asp-page="/Saludos/List">Lista de saludos</a>